AccountUtil/Service References/AccountService/account.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:sch="http://cn.jdd/services/account" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://cn.jdd/services/account" targetNamespace="http://cn.jdd/services/account" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://cn.jdd/services/account" xmlns="http://www.w3.org/2001/XMLSchema">
      <element name="accountLoginRequest">
        <complexType>
          <all>
            <element name="loginRequestInfo" type="tns:LoginInfo" />
          </all>
        </complexType>
      </element>
      <element name="heartBeatRequest">
        <complexType>
          <all>
            <element name="heartBeatRequestInfo" type="tns:AccProMacInfo" />
          </all>
        </complexType>
      </element>
      <element name="chargedProductRequest">
        <complexType>
          <all>
            <element name="chargedProductRequestInfo" type="tns:ChargedProductInfo" />
          </all>
        </complexType>
      </element>
      <element name="lastVersionRequest">
        <complexType>
          <all>
            <element name="lastVersionRequestInfo" type="tns:LastVersionInfo" />
          </all>
        </complexType>
      </element>
      <element name="dayProductComsumeRequest">
        <complexType>
          <all>
            <element name="dayProductComsumeRequestInfo" type="tns:DayProductComsumeInfo" />
          </all>
        </complexType>
      </element>
      <element name="activationLoginRequest">
        <complexType>
          <all>
            <element name="acvLoginRequestInfo" type="tns:AcvLoginInfo" />
          </all>
        </complexType>
      </element>
      <element name="personHeartBeatRequest">
        <complexType>
          <all>
            <element name="personHeartBeatRequestInfo" type="tns:AcvProMacInfo" />
          </all>
        </complexType>
      </element>
      <element name="accountLoginResponse">
        <complexType>
          <all>
            <element name="loginResponseInfo" type="tns:ResultLoginInfo" />
          </all>
        </complexType>
      </element>
      <element name="heartBeatResponse">
        <complexType>
          <all>
            <element name="heartBeatResponseInfo" type="tns:ResultInfo" />
          </all>
        </complexType>
      </element>
      <element name="chargedProductResponse">
        <complexType>
          <all>
            <element name="chargedProductResponseInfo" type="tns:ChargedProductResultInfo" />
          </all>
        </complexType>
      </element>
      <element name="lastVersionResponse">
        <complexType>
          <all>
            <element name="lastVersionResponseInfo" type="tns:LastVersionResultInfo" />
          </all>
        </complexType>
      </element>
      <element name="dayProductComsumeResponse">
        <complexType>
          <all>
            <element name="dayProductComsumeResponseInfo" type="tns:DayProductComsumeResultInfo" />
          </all>
        </complexType>
      </element>
      <element name="activationLoginResponse">
        <complexType>
          <all>
            <element name="acvLoginResponseInfo" type="tns:AcvResultLoginInfo" />
          </all>
        </complexType>
      </element>
      <element name="personHeartBeatResponse">
        <complexType>
          <all>
            <element name="personHeartBeatResponseInfo" type="tns:ResultInfo" />
          </all>
        </complexType>
      </element>
      <complexType name="LoginInfo">
        <sequence>
          <element name="accountNo" type="string" />
          <element name="productCode" type="string" />
          <element name="machineCode" type="string" />
          <element name="password" type="string" />
        </sequence>
      </complexType>
      <complexType name="AccProMacInfo">
        <sequence>
          <element name="accountNo" type="string" />
          <element name="productCode" type="string" />
          <element name="machineCode" type="string" />
        </sequence>
      </complexType>
      <complexType name="ChargedProductInfo">
        <sequence>
          <element name="accountNo" type="string" />
          <element name="password" type="string" />
          <element name="machineCode" type="string" />
        </sequence>
      </complexType>
      <complexType name="LastVersionInfo">
        <sequence>
          <element name="productCode" type="string" />
          <element name="version" type="string" />
        </sequence>
      </complexType>
      <complexType name="DayProductComsumeInfo">
        <sequence>
          <element name="accountNo" type="string" />
        </sequence>
      </complexType>
      <complexType name="AcvLoginInfo">
        <sequence>
          <element name="activationCode" type="string" />
          <element name="productCode" type="string" />
          <element name="machineCode" type="string" />
        </sequence>
      </complexType>
      <complexType name="AcvProMacInfo">
        <sequence>
          <element name="activationCode" type="string" />
          <element name="productCode" type="string" />
          <element name="machineCode" type="string" />
        </sequence>
      </complexType>
      <complexType name="ResultLoginInfo">
        <sequence>
          <element name="result" type="string" />
          <element name="resultMsg" type="string" />
          <element minOccurs="0" name="comsumeStatus" type="string" />
          <element minOccurs="0" name="balance" type="string" />
          <element minOccurs="0" name="usableScore" type="string" />
          <element minOccurs="0" name="disableScore" type="string" />
          <element minOccurs="0" name="rankName" type="string" />
          <element minOccurs="0" name="noticeTitle" type="string" />
          <element minOccurs="0" name="noticeContent" type="string" />
          <element minOccurs="0" name="showFlag" type="string" />
          <element minOccurs="0" name="comHisList" type="tns:ComHis" />
        </sequence>
      </complexType>
      <complexType name="AcvResultLoginInfo">
        <sequence>
          <element name="result" type="string" />
          <element name="resultMsg" type="string" />
          <element minOccurs="0" name="deadLine" type="string" />
          <element minOccurs="0" name="noticeTitle" type="string" />
          <element minOccurs="0" name="noticeContent" type="string" />
          <element minOccurs="0" name="showFlag" type="string" />
        </sequence>
      </complexType>
      <complexType name="ChargedProductResultInfo">
        <sequence>
          <element name="result" type="string" />
          <element name="resultMsg" type="string" />
          <element minOccurs="0" name="productList" type="tns:ProductList" />
        </sequence>
      </complexType>
      <complexType name="LastVersionResultInfo">
        <sequence>
          <element name="result" type="string" />
          <element name="resultMsg" type="string" />
          <element minOccurs="0" name="updateVersionUrl" type="string" />
          <element minOccurs="0" name="updateVersionTitle" type="string" />
          <element minOccurs="0" name="updateVersionContent" type="string" />
        </sequence>
      </complexType>
      <complexType name="DayProductComsumeResultInfo">
        <sequence>
          <element name="result" type="string" />
          <element name="resultMsg" type="string" />
          <element minOccurs="0" name="dayProductComsumeList" type="tns:DayProductComsumeList" />
        </sequence>
      </complexType>
      <complexType name="DayProductComsumeList">
        <sequence>
          <element maxOccurs="unbounded" name="dayProductComsume" type="tns:DayProductComsume" />
        </sequence>
      </complexType>
      <complexType name="DayProductComsume">
        <sequence>
          <element name="productName" type="string" />
          <element name="productCode" type="string" />
          <element name="dayMachineCount" type="string" />
          <element name="dayComsumeMoney" type="string" />
        </sequence>
      </complexType>
      <complexType name="ProductList">
        <sequence>
          <element maxOccurs="unbounded" name="product" type="tns:Product" />
        </sequence>
      </complexType>
      <complexType name="Product">
        <sequence>
          <element name="productCode" type="string" />
          <element name="productName" type="string" />
        </sequence>
      </complexType>
      <complexType name="ComHis">
        <sequence>
          <element maxOccurs="unbounded" name="comHis" type="tns:His" />
        </sequence>
      </complexType>
      <complexType name="His">
        <sequence>
          <element name="productCode" type="string" />
          <element name="comsumeMoney" type="string" />
          <element name="comsumeTime" type="string" />
          <element name="comsumeScore" type="string" />
        </sequence>
      </complexType>
      <complexType name="ResultInfo">
        <sequence>
          <element name="result" type="string" />
          <element name="resultMsg" type="string" />
        </sequence>
      </complexType>
    </schema>
  </wsdl:types>
  <wsdl:message name="heartBeatRequest">
    <wsdl:part name="heartBeatRequest" element="tns:heartBeatRequest" />
  </wsdl:message>
  <wsdl:message name="lastVersionResponse">
    <wsdl:part name="lastVersionResponse" element="tns:lastVersionResponse" />
  </wsdl:message>
  <wsdl:message name="personHeartBeatRequest">
    <wsdl:part name="personHeartBeatRequest" element="tns:personHeartBeatRequest" />
  </wsdl:message>
  <wsdl:message name="lastVersionRequest">
    <wsdl:part name="lastVersionRequest" element="tns:lastVersionRequest" />
  </wsdl:message>
  <wsdl:message name="personHeartBeatResponse">
    <wsdl:part name="personHeartBeatResponse" element="tns:personHeartBeatResponse" />
  </wsdl:message>
  <wsdl:message name="accountLoginResponse">
    <wsdl:part name="accountLoginResponse" element="tns:accountLoginResponse" />
  </wsdl:message>
  <wsdl:message name="chargedProductResponse">
    <wsdl:part name="chargedProductResponse" element="tns:chargedProductResponse" />
  </wsdl:message>
  <wsdl:message name="chargedProductRequest">
    <wsdl:part name="chargedProductRequest" element="tns:chargedProductRequest" />
  </wsdl:message>
  <wsdl:message name="activationLoginResponse">
    <wsdl:part name="activationLoginResponse" element="tns:activationLoginResponse" />
  </wsdl:message>
  <wsdl:message name="dayProductComsumeRequest">
    <wsdl:part name="dayProductComsumeRequest" element="tns:dayProductComsumeRequest" />
  </wsdl:message>
  <wsdl:message name="activationLoginRequest">
    <wsdl:part name="activationLoginRequest" element="tns:activationLoginRequest" />
  </wsdl:message>
  <wsdl:message name="dayProductComsumeResponse">
    <wsdl:part name="dayProductComsumeResponse" element="tns:dayProductComsumeResponse" />
  </wsdl:message>
  <wsdl:message name="accountLoginRequest">
    <wsdl:part name="accountLoginRequest" element="tns:accountLoginRequest" />
  </wsdl:message>
  <wsdl:message name="heartBeatResponse">
    <wsdl:part name="heartBeatResponse" element="tns:heartBeatResponse" />
  </wsdl:message>
  <wsdl:portType name="ACCOUNT">
    <wsdl:operation name="heartBeat">
      <wsdl:input name="heartBeatRequest" message="tns:heartBeatRequest" />
      <wsdl:output name="heartBeatResponse" message="tns:heartBeatResponse" />
    </wsdl:operation>
    <wsdl:operation name="lastVersion">
      <wsdl:input name="lastVersionRequest" message="tns:lastVersionRequest" />
      <wsdl:output name="lastVersionResponse" message="tns:lastVersionResponse" />
    </wsdl:operation>
    <wsdl:operation name="personHeartBeat">
      <wsdl:input name="personHeartBeatRequest" message="tns:personHeartBeatRequest" />
      <wsdl:output name="personHeartBeatResponse" message="tns:personHeartBeatResponse" />
    </wsdl:operation>
    <wsdl:operation name="accountLogin">
      <wsdl:input name="accountLoginRequest" message="tns:accountLoginRequest" />
      <wsdl:output name="accountLoginResponse" message="tns:accountLoginResponse" />
    </wsdl:operation>
    <wsdl:operation name="chargedProduct">
      <wsdl:input name="chargedProductRequest" message="tns:chargedProductRequest" />
      <wsdl:output name="chargedProductResponse" message="tns:chargedProductResponse" />
    </wsdl:operation>
    <wsdl:operation name="activationLogin">
      <wsdl:input name="activationLoginRequest" message="tns:activationLoginRequest" />
      <wsdl:output name="activationLoginResponse" message="tns:activationLoginResponse" />
    </wsdl:operation>
    <wsdl:operation name="dayProductComsume">
      <wsdl:input name="dayProductComsumeRequest" message="tns:dayProductComsumeRequest" />
      <wsdl:output name="dayProductComsumeResponse" message="tns:dayProductComsumeResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ACCOUNTSoap11" type="tns:ACCOUNT">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="heartBeat">
      <soap:operation soapAction="" />
      <wsdl:input name="heartBeatRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="heartBeatResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="lastVersion">
      <soap:operation soapAction="" />
      <wsdl:input name="lastVersionRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="lastVersionResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="personHeartBeat">
      <soap:operation soapAction="" />
      <wsdl:input name="personHeartBeatRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="personHeartBeatResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="accountLogin">
      <soap:operation soapAction="" />
      <wsdl:input name="accountLoginRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="accountLoginResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="chargedProduct">
      <soap:operation soapAction="" />
      <wsdl:input name="chargedProductRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="chargedProductResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="activationLogin">
      <soap:operation soapAction="" />
      <wsdl:input name="activationLoginRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="activationLoginResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="dayProductComsume">
      <soap:operation soapAction="" />
      <wsdl:input name="dayProductComsumeRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="dayProductComsumeResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ACCOUNTService">
    <wsdl:port name="ACCOUNTSoap11" binding="tns:ACCOUNTSoap11">
      <soap:address location="" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>